    <!-- landing/templates/landing/index.html -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to My Landing Page</title>
        
    <style>
    ul {
      list-style-type: none;
      margin: -8px;
      padding: 0;
      overflow: hidden;
      background-color: aliceblue;
      
      
    }

    li {
      float: right;
    }

    li a {
      display: block;
      
      text-align: center;
      padding: 16px 20px;
      text-decoration: none;
  
    }



    
    </style>
    
  </head>
  
    <body >
        <ul >
          <!-- <li>   <a  href= "{% url 'login_superadmin' %}">
              <h2 style="color: #463cb5;">SuperAdmin</h2></a></li> -->
              
              
          <li>   <a  href= "{% url 'login-all' %}">
              <h2 style="color: #463cb5;">Login</h2></a> </li>
                  
          
          
        </ul>


    <div style="display: flex; ">
        <img src="/media/static/asset_img-Photoroom.png"  style="width:40%;margin-left: 40px; ">
      
        <div style="display: block; ">
            <h1 style="margin-left: 200px; margin-top: 100px; font-size: 50px; color: black;"> Welcome to AssetTracker Pro. </h1>

            <h3 style=" float: right; font-weight: bold; color: #5b4e4e;" >It is comperhensive app to manage your asset and employee </h3><br>
            
            <h3 style="float: right; font-weight: bold; color: #5b4e4e; ">It help you track your asset and assignment of your asset </h3><br>
            
            <h3 style="float: right; font-weight: bold; color: #5b4e4e; ">It also handles security and give access to authorised user  </h3>  <br>

            <a href="/register-user" >
               <button type="button" style="margin-top: 20px; margin-left: 650px; width: 200px;padding: 10px; border-radius: 12px; background-color: #463cb5; color: white;">Register</button>
            </a>
        </div>


    </div>

    
    
    </body>

    </html>