<!-- At the top of your page add load static -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>
table, td, th {
  border: 1px solid;
  border: none;
}
tr{
        height:50px

}

table {
  width: 90%;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
ul{


list-style-type: none;
  margin: -8px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}  



</style>
</head>
<body>

  



{% include 'test_app/navbar.html' %}
    <a href="/inventory"><input type="submit" value="Back" style="margin-top: 20px; width: 70px; border-radius: 5px; border-color: white; padding: 5px; background-color: black; color: white;"></a>


      {% if messages %}
        
            {% for message in messages %} 
                
                 <p id="msg" style="font-weight: bold;">{{ message}}</p>  
                
            {% endfor %}  
        
    {% endif %}
<br>
      <form action="{% url 'add_tool' %} " method="POST"  style="margin-left: 1200px; width: 1000px;">
    {% csrf_token %}
                       <input type="hidden" name="category" value="{{value}}">
                    <input type="submit" value="Add {{value}}" style="width: 20%; padding: 10px ;">
    
      </form>
           
                       


<h1 class='list' style="text-align: center; margin: 40px;">Asset Details</h1>


<table>
 
  <thead style="background-color: #eee;">   
    <tr>    
                <th> Serial no.</th>
                <th>Asset Name</th>
                
                <th>Asset Id</th>
                <th>Assigned to</th>
                <th>Asset Avaliability</th>
                <th>Asset Category</th>
                <th>Assigned Employee ID</th>
              <!--  <th>tool image</th>  -->
                <!-- <th colspan="4">Action</th> -->
                
                
                
                
            </tr>
    </thead>

    <tbody>

       {% for k in data  %}
        
           
            <tr>
                <td>{{forloop.counter}}</td>
                <td style="text-transform: capitalize;font-weight: bold;">{{k.tool_name}}</td>
                
                <td>{{k.tool_id}}</td>
               {% if k.tool_assigned != None %}
                  <td> <form action="{% url 'search' %}" method="POST">
                     {% csrf_token %}
                    <input type="hidden" name="tool_id" value="{{k.assigned_employee_id}}">
                    <input type="submit" value="{{k.tool_assigned}}" style="background: none; border: none; color: black; text-decoration: underline; font-weight: bold; font-size: 17px; text-transform: capitalize;"> </form>

               </td>
                
                {% else %}
                <td style="text-transform: capitalize;">{{k.tool_assigned}}</td>
                {% endif %}
                <td>{{k.tool_avaliability}}</td>
                <td>{{k.tool_category}}</td>
                
            <td>{{k.assigned_employee_id}}</td>
                 <!---   {% if k.image %}
                   <td> <a href="/{{k.image.url}}">{{k.image}}</a></td>
                   <td><img src="{{  k.image.url }}" alt="" width="50" height="50"></td>  
                
                     {% else %}
                   <td>{{"none"}}</td>
                        {% endif %} -->
         
<!-- 
               <td> <form action="{% url 'delete_tool12' %}" method="POST">
                     {% csrf_token %}
                    <input type="hidden" name="tool_id" value="{{k.tool_quantity}}">
                  <a href="{% url 'delete_tool12' %}"><input type="submit" value="delete"></a> </form></td>

               
                <td>
                <form  action="{% url 'edit_tool' %}" method="POST">
                     {% csrf_token %}
                    <input type="hidden" name="tool_id" value="{{k.tool_quantity}}">
                  <a href="{% url 'edit_tool' %}"><input type="submit" value="edit"></a> </form>



               </td>
                
    
                {% if k.tool_avaliability  != "Avaliable" %}
                               <td> <form action="{% url 'unassign_tool' %}" method="POST">
                     {% csrf_token %}
                    <input type="hidden" name="tool_id" value="{{k.id}}">
                  <a href="{% url 'unassign_tool' %}"><input type="submit" value="unassign"></a> </form>

               </td>             
               
               
                              

                    {% endif %}


                                


               {% if k.tool_avaliability  !=  "Assigned" %}
               
                               <td> <form action="{% url 'assign_tool' %}" method="POST">
                     {% csrf_token %}
                    <input type="hidden" name="tool_id" value="{{k.tool_id}}">
                  <a href="{% url 'assign_tool' %}"><input type="submit" value="assign"></a> </form>

               



               </td>
               {% endif %}

                              <td> <form action="{% url 'history' %}" method="POST">
                     {% csrf_token %}
                    <input type="hidden" name="tool_id" value="{{k.tool_quantity}}">
                  <a href="{% url 'history' %}"><input type="submit" value="history"></a> </form>

               </td>
               

        
            
            </tr> -->

    </tbody>
            
            {% endfor %}
        </table>






</body>
<script>
       const myTimeout = setTimeout(myGreeting, 2000);

function myGreeting() {
  document.getElementById("msg").innerHTML = ""
}

function myStopFunction() {
  clearTimeout(myTimeout);
}

</script>
</html>






















