<!-- At the top of your page add load static -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>
table, td, th {
  border: 1px solid;
  border: none;
}
tr{
        height:50px

}
td{
        border-bottom: 1px solid gray;

}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<h1 class='list' style="text-align: center;">Employee Detail</h1>
 <a href="/" style="float: right; "><input type="submit" value="logout" style="width: 100px; padding: 10px; background-color: black; color: white;"></a>
  

                <form  action="{% url 'edit' %}" method="POST">
                     {% csrf_token %}
                    <input type="hidden" name="employee_id" value="{{value}}" >
                    
                  <a href="{% url 'edit' %}"><input type="submit" value="Edit" style="width: 80px; padding: 8px; background-color: black; color: white;"></a> </form> 
    {% for k in data1 %}
<div style="display: flex; gap: 13rem;">
  <div>
    <h3 style="text-transform: capitalize;">Name : {{k.employee_name}}</h3>
    <h3>Email : {{k.employee_email}}</h3>
    <h3>Contact : {{k.employee_contact}}</h3>
  </div>
  <div>
    <h3>ID : {{k.employee_code}}</h3>
    <h3>Team : {{k.team_name}}</h3>
    <h3>Department : {{k.employee_department}}</h3>
  </div>
</div>

{% endfor %}
<table>
 
  <thead style="background-color: #eee;">   
    <tr>    

                <th>Sr.no</th>
                <th>Asset Name</th>
                <th>Asset Id</th>
                <th>Asset Category</th>
                <th>Action</th>
             </tr>
    </thead>

    <tbody id="tableBody">

      
        <tr>
  
          {% if data %}

            {% for k in data  %}
        
           
            
                <td>{{forloop.counter}}</td>

                <td style="text-transform: capitalize; font-weight: bold;">{{k.tool_name}}</td>
                <td>{{k.tool_id}}</td>
                <td>{{k.tool_category}}</td>
                {% if k.repair_status == 'Not In Repair' %}
                      <td><button type="button" onclick="report_damage('{{k.tool_id}}')" style="background-color: black; color: white;" >Report Damage</button></td> 
                {% elif k.repair_status == 'Created By Employee' %}
                <td>Request Sent To Admin</td>
                {% else %}
                <td>Repair Created By Admin</td>
                {% endif %}

              
                
                
                
        </tr>
            {% endfor %}
          {% else %}
                <td colspan="5">No Tool Assigned</td>
          {% endif %}

           
    </tbody>
            
            
</table>






</body>
<script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }


    function report_damage(toolCode){
      console.log(toolCode)
      fetch('/dashboard_emp/',{
    method :'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCookie('csrftoken'),
        },
        body : JSON.stringify({'damage':toolCode}),
      })
        .then(response => response.json())
        .then(data=>{
        const tableBody = document.getElementById('tableBody');
        tableBody.innerHTML = '';
        console.log(data)
        data.forEach((item, index) => {
          const row = tableBody.insertRow();
          row.insertCell().textContent = index + 1;

          // row.insertCell().textContent = item.tool_name;
          const toolNameCell = row.insertCell();

          toolNameCell.textContent = item.tool_name;
          toolNameCell.style.textTransform = "capitalize";
          toolNameCell.style.fontWeight = "bold";
          row.insertCell().textContent = item.tool_id;
          row.insertCell().textContent = item.tool_category;
          if(item.repair_status == "Created By Employee"){
          row.insertCell().textContent = "Request Sent to Admin";

          }
          else if (item.repair_status == 'Not In Repair'){
          
          const damageCell = row.insertCell();
          const damageBtn = document.createElement("button");
          damageBtn.textContent = "Report Damage";
          damageBtn.onclick = () => report_damage(item.tool_id);
          damageBtn.style.backgroundColor = 'black';
          damageBtn.style.color = 'white';
          damageCell.appendChild(damageBtn);

          }
          else{
          row.insertCell().textContent = "Repair Created By Admin";

          }





        });
      })
      .catch(error => {
        console.error("Error fetching employees:", error);
      });


        
      

    }






</script>






</html>