<!-- At the top of your page add load static -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <style>
table, td, th {
  border: 1px solid;
  border: none;
  font-size: 18px;
}
tr{
        height:50px

}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
ul {

  list-style-type: none;
  margin: -10px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}




</style>  
</head>
<body>

        
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />



{% include 'test_app/navbar.html' %}
    <a href="/dashboard"><input type="submit" value="Back" style="margin-top: 20px; width: 70px; border-radius: 5px; border-color: white; padding: 5px; background-color: black; color: white;"></a>

       {% if messages %}
        
           {% for message in messages %} 
                
                 <p id="msg">{{ message}}</p>  
                
            {% endfor %}  
        
    {% endif %}
<br>
    
     <button type="button"  style=   "padding: 0px; width: 40px; border-radius: 50%; height: 40px; float: right; margin-top: 110px;"  onclick="input_bar_function()"><i class="fas fa-magnifying-glass"></i></button>      

<input type="text" id="search" name="search"  placeholder="Search Here" style="float: right; margin-top: 120px; padding: 4px; display: none; border-radius: 15px;" oninput="search_function()"><br><br>


<h1 class='list' style="position: fixed; margin-left: 40%;">Asset Details</h1>


<table>
 
  <thead style="background-color: #eee;">  
     <tr>    
                <th> Serial no.</th>
                <th>Asset Name</th>
                
                <th>Asset Id</th>
                <th>Assigned To</th>
                <th>Asset Avaliability</th>
                <th>Asset Category</th>
                <th>Assigned Employee ID</th>
              <!--  <th>tool image</th>  -->
                <th colspan="3">Action</th>
                
                
                
                
            </tr>
    </thead>

    <tbody id="tableBody">

       {% for k in page_obj.object_list %}
        
           
      <tr>
                <td>{{forloop.counter}}</td>
                <td style="text-transform: capitalize; font-weight: bold;">{{k.tool_name}}</td>
                <td>{{k.tool_id}}</td>
               {% if k.tool_assigned != None %}
                <td> <form action="{% url 'search' %}" method="POST">
                     {% csrf_token %}
                    <input type="hidden" name="tool_id" value="{{k.assigned_employee_id}}">
                    <input type="submit" value="{{k.tool_assigned}}" style="background: none; border: none; color: black; font-size: medium; font-weight: bold;
                    text-transform: capitalize; text-decoration: underline;"> </form>

                </td>
                
                {% else %}
                <td>{{k.tool_assigned}}</td>
                {% endif %}
                <td>{{k.tool_avaliability}}</td>
                <td>{{k.tool_category}}</td>
                
               <td>{{k.assigned_employee_id}}</td>
                 <!---   {% if k.image %}
                   <td> <a href="/{{k.image.url}}">{{k.image}}</a></td>
                   <td><img src="{{  k.image.url }}" alt="" width="50" height="50"></td>  
                
                     {% else %}
                   <td>{{"none"}}</td>
                        {% endif %} -->
         
                  {% if k.tool_avaliability  == "In-Repair" %}
                  <td> 
                     In-Repair

                  </td>             
               
               
                              

                   {% endif %} 
                
    
                  {% if k.tool_avaliability  == "Assigned" %}
                  <td> <form action="{% url 'unassign-tool' %}" method="POST">
                     {% csrf_token %}
                    <input type="hidden" name="tool_id" value="{{k.id}}">
                    <input type="hidden" name="message" value="assigned">
                    <a href="{% url 'unassign-tool' %}"><input type="submit" value="Unassign"  style="background-color:  #433f3f; color: white;"></a> </form>

                  </td>             
                  {% endif %} 
                  {% if k.tool_avaliability  ==  "Avaliable" %}
               
               
                  <td> <form action="{% url 'assign-tool' %}" method="POST">
                     {% csrf_token %}
                    <input type="hidden" name="tool_id" value="{{k.tool_id}}">
                    <input type="hidden" name="message" value="avaliable">
                   <a href="{% url 'assign-tool' %}"><input type="submit" value="Assign"  style="background-color:  #433f3f; color: white;"></a> </form>
                  </td>
                  {% endif %}


          

                  <td> <form action="{% url 'history' %}" method="POST">
                     {% csrf_token %}
                    <input type="hidden" name="tool_id" value="{{k.tool_id}}">
                    <input type="hidden" name="back" value="back">
                    <a href="{% url 'history' %}"><input type="submit" value="History" style="background-color:  #433f3f; color: white;"></a> </form>

                  </td>  

                


            </tr>
        {% endfor %}

    </tbody>
            
        </table>

<div id="pagiation">
    
        {%if page_obj.has_previous %} 
            <a href="?page={{page_obj.previous_page_number}}" style="text-decoration: none; color: blue;"><</a> 
        {% endif %}
        <span>Page {{page_obj.number}} of {{total}}</span> 

        {%if page_obj.has_next %} 
            <a href="?page={{page_obj.next_page_number}}" style="text-decoration: none; color: blue;">></a> 
        {% endif %}
    
</div>




</body>
<script>
      let searchResults = [];
    let currentPage = 1;
    const itemsPerPage = 5;
 
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    function input_bar_function(){
  const inputElement = document.getElementById('search')
  if (inputElement.style.display === 'none'){
  inputElement.style.display = 'block';}
  else{
    inputElement.style.display = 'none';
  }
}

function search_function(){
  const input=document.getElementById("search")
  console.log(input.value)
  const searchValue = input.value.trim();

  fetch('/dashboard-result/',{
    method :'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCookie('csrftoken'),
        },
        body : JSON.stringify({'search':searchValue}),
      })
        .then(response => response.json())
      .then(data => {
         searchResults = data
         console.log()
        currentPage = 1;
        renderTable();
        pagiation()
      })
    }
function renderTable(){

        const tableBody = document.getElementById('tableBody');
      tableBody.innerHTML = '';
      const start = (currentPage - 1) * itemsPerPage;
    const paginatedData = searchResults.slice(start, start + itemsPerPage);
    if (paginatedData.length === 0) {
      const row = tableBody.insertRow();
      const cell = row.insertCell();
      cell.colSpan = 9;
      cell.textContent = "No results found.";
      cell.style.textAlign = 'center';
      return;
      }

        paginatedData.forEach((item,index) => {
          const row=tableBody.insertRow();
          row.insertCell().textContent = index + 1;
          
           const toolNameCell = row.insertCell();
          toolNameCell.textContent = item.tool_name;
          toolNameCell.style.textTransform = "capitalize";
          toolNameCell.style.fontWeight = "bold"; 
          row.insertCell().textContent = item.tool_id;
          if(item.tool_assigned != null){
          const nameCell = row.insertCell();
          
          const form = document.createElement("form");
          form.method = "POST";
          form.action = "/search/";
          form.innerHTML = `
            <input type="hidden" name="csrfmiddlewaretoken" value="${getCookie('csrftoken')}">
            <input type="hidden" name="tool_id" value="${item.assigned_employee_id}">
            <input type="submit" value="${item.tool_assigned}" style="background: none; border: none; color: black; font-size: medium;
            font-weight: bold;
                    text-transform: capitalize; text-decoration: underline;">
          `;
          nameCell.appendChild(form);
        }
          else {
          row.insertCell().textContent = "None";

          }
    
          row.insertCell().textContent = item.tool_avaliability;

          row.insertCell().textContent = item.tool_category;
          if (item.tool_assigned != null){
          row.insertCell().textContent = item.assigned_employee_id;}
          else{
            row.insertCell().textContent= "None"
          }
          if(item.tool_avaliability=='In-Repair'){
          row.insertCell().textContent = "In-Repair";}
          else if(item.tool_avaliability=="Assigned"){
                   const deleteCell = row.insertCell();
                   deleteCell.innerHTML = `
             <form action="/unassign-tool/" method="POST">
                  <input type="hidden" name="csrfmiddlewaretoken" value="${getCookie('csrftoken')}">
                     <input type="hidden" name="message" value="assigned">

                 <input type="hidden" name="tool_id" value="${item.id}">
                 <input type="submit" value="unassign"  style="background-color:  #433f3f; color: white;">
             </form>`;
            
          }
          else{
          const editCell = row.insertCell();
          editCell.innerHTML = `
                  <form action="/assign-tool/" method="POST">
              <input type="hidden" name="csrfmiddlewaretoken" value="${getCookie('csrftoken')}">
              <input type="hidden" name="tool_id" value="${item.tool_id}">
              <input type="hidden" name="message" value="avaliable">

              <input type="submit" value="Assign"  style="background-color:  #433f3f; color: white;" >
                   </form>
          `;

          }
          const historyCell = row.insertCell();
          historyCell.innerHTML = `
                  <form action="/history/" method="POST">
              <input type="hidden" name="csrfmiddlewaretoken" value="${getCookie('csrftoken')}">
              <input type="hidden" name="tool_id" value="${item.tool_id}">
              <input type="submit" value="History" style="background-color:  #433f3f; color: white;">
                   </form>
          `;

          
        });

}

   





function pagiation(){
  const pagiation = document.getElementById('pagiation');
  const totalPages = Math.ceil(searchResults.length / itemsPerPage);
  

  console.log('hello')
  console.log(totalPages)
  console.log(currentPage)
  let value ="";
  if (currentPage >1){
    console.log('helloif')
    value += `
    <button onclick="changePage(${currentPage - 1})" style="background: none; border: none; color: blue; font-size: 15px; "><</button>`;
    } if (totalPages === 0){
    value += `<span style="margin: 0 10px;">Page ${currentPage} of 1 </span>`;

    }
    else{
    value += `<span style="margin: 0 10px;">Page ${currentPage} of ${totalPages}</span>`;}
  if (currentPage <totalPages ){
    value += 
    `<button onclick="changePage(${currentPage + 1})"style="background: none; border: none;color: blue;font-size: 15px;" >></button>`;
    
  }
  
  pagiation.innerHTML=value
}


function changePage(value){
    currentPage=value;
    renderTable();
    pagiation();
}

           const myTimeout = setTimeout(myGreeting, 2000);

function myGreeting() {
  document.getElementById("msg").innerHTML = ""
}

function myStopFunction() {
  clearTimeout(myTimeout);
}







</script>
</html>